# This is a template MeshOpt.config file with variables set to their 
#default values.

CaseParameters{
	GMSHFileName = ;
	STEPFileName = ;
	OutputFileName = meshopt.msh;
}

BLParameters{
	GenerateBL = false;
	HasBL = false;
	BLSurfID = 7;
	BLTermID = 20;
	Thickness = 0.01;
	GrowthRatio = 1.3;
	NLayers = 1;
	MaxBLGenIters = 25;
}

HighOrderParameters{
	Order = 2;
	OptimizedNodeSpacing = false;
	TargetMinQuality = 0.9;
}